@charset "ISO-8859-1";
body {
  font-family: "Lato", sans-serif;
}

* {
	font-family: "Benne", sans-serif;
	font-weight: bold;
}

/* ============================================ */
/* Container 1 */
/* ============================================ */

.container1 {
    margin: 0px;
}
.hyperlink {
    color: black;
}
.hyperlink_margin {
    margin-right: 40px !important;
    display: inline-block;
}
hr {
    margin: 0px;
}


/* ============================================ */
/* Container 2 */
/* ============================================ */

.container2 {
    margin: 0px 8%;
}


/* ============================================ */
/* Container 3 */
/* ============================================ */

.container3 {
    padding: 10px;
    margin-bottom: 25px;
    justify-content: space-between;
    align-content: space-between;
    max-width: 1280px !important;
    font-family: "Benne", sans-serif;
}
.background_gray {
    background-color: #E0E0E0;
}
.item_center {
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}
.banner1 {
    width: 100%;
    margin-left: 15%;
}
.banner2 {
    width: 100%;
    margin-left: 30%;
}
#logo_font {
    font-family: 'Caveat', cursive;
}

/* ============================================ */
/* Container 4 */
/* ============================================ */

.container4 {
    padding: 10px;
    margin-bottom: 25px;
    justify-content: space-between;
    align-content: space-between;
    max-width: 1280px !important;
}
.item_top {
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}
.overlay {
    position: relative;
    text-align: center;
    color: white;
}
.bottom_left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* ============================================ */
/* Sidebar Menu */
/* ============================================ */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #909090;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* ============================================ */
/* Container 5 */
/* ============================================ */

.container5 {
    width: 100%;
}
.hr_dark {
    border: 10px solid #909090;
}
.cust {
    margin-left: 10%;
}


/* ============================================ */
/* Footer */
/* ============================================ */
  
.center {
    text-align: center;
}
/* ============================================ */
/* About */
/* ============================================ */
.container6 {
    padding: 10px;
    margin-bottom: 25px;
    margin-left: 5%;
    justify-content: space-between;
    align-content: space-between;
    max-width: 1280px !important;
}

.about_item {
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}
.about_width {
	width: 60%;
}
.font_size {
	  font-size: 26px;
}
/* ============================================ */
/* Contact */
/* ============================================ */


/* ============================================ */
/* Product */
/* ============================================ */

.card {
	display: inline-block;
	display: -ms-flexbox;
	margin-left: 80px;
    margin-bottom: 20px;
    text-align: center;
}

.card-img-top {
	height: 220px;
}

.card h5 {
    font-size: 1.75rem;
}



/* ============================================ */
/* details*/
/* ============================================ */
.details {
	display: inline-block;
}

.catalog_container {
	width: 1175px;
	height: 700px;
	margin-left: 175px;
}

.detailsdesc {
	margin-left: 100px;
	font-size: 22px;
}

.detailsimg {
	height: 500px;
	width: 450px;
}

.price {
	font-size: 30px;
}

.quantitydetails {
	width: 50px;
}

.detailsbutton:hover{
     background: #4b4f4fd1 !important;
     border-color: #b2a5a5bd !important;
}

.detailsbutton {
	background-color: #4b4f4f !important;
    border-color: #b2a5a5 !important;
    border-width: medium !important;
}

.btn1 {
	background-color: #4b4f4f;
    border-color: #b2a5a5;
    border-width: medium;
}

.btn2 {
	background-color: #4b4f4f;
    border-color: #b2a5a5;
    border-width: medium;
    color: #fff;
}
/* ============================================ */
/* cart  and receipt*/
/* ============================================ */
.cart_background{
	background:#e0e0e0;

	margin: 2% 0% 3% 0%;
	margin-left: 275px;
    margin-right: 275px;
    text-align: center;
}

.cart_container{
	border: solid black 2px;
	width: 90%;
	height:700px;
	background-image: #fff;
	display: inline-block;
	margin-bottom:3%;
	
}

.cart_background h1{
	padding: 2% 0%;
	color:#130202;
	font-weight:bold;
	font-size: 300%;
	display: inline-block;
}
.cart_container img{
	height: 130px;
    width: 130px;

}
.cart_background hr{
	background-color: black;
}
.cart_items{
	width:100%;
	height:75%;
	overflow-y: auto;
}
.cart_item{
	display:flex;
	align-items: center;
	justify-content: space-around;
}

.cart_items li{
	margin: 20px;
	background-color: #6c757d;
	font-size: x-large;
	color:#20282f;
}
.cart_items a{
	color:#20282f;
}
.cart_total{
    width: 50%;
    height: 20%;
    margin: 2% 0% 0% 40%;
}

.cart_total h2{
	font-weight: bold;
}
.order_button{
	
	background-color: #4b4f4f;
    border-color: #b2a5a5;
    border-width: medium;
	border-radius:20px;
	color:white;
	padding: 2%;
	font-size:180%;
	margin-bottom:3%;
	margin-left: 40%;
	font-weight:bold;
	
}
#checkoutOptions{
    height: 100px;
    width: 40%;
    margin-left: 33%;
    align-items: center;
    text-align: center;
}
#checkoutOptions a{
	padding:2%;
	font-weight: 200px;
	border-radius:10px;
	color: #fff;
	font-size:150%;
}
